body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #153448;
            color: #fff;
            padding: 10px 0;
            position: sticky;
            top: 0;
            left: 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }

        .nav_logo h2 {
            margin: 0;
        }

        .nav_links ul {
            display: flex;
            list-style: none;
        }

        .nav_links ul li {
            margin-right: 20px;
        }

        .nav_links ul li a {
            color: #fff;
            text-decoration: none;
        }

        .hero{
            background-image: url('https://images.unsplash.com/photo-1715292453587-35be6ed4ce07?q=80&w=1472&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;
            background-position: center;
            height: calc(100vh - 70px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            color: #fff;
            position: relative;
        }

        .hero_gradient{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
        }

        .hero_content{
            max-width: 1120px;
            width: 100%;
            margin: 0 auto;
            z-index: 100;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        .hero_content h1{
            font-size: 5rem;
            margin: 0;
            font-weight: bold;
        }

        .hero_form{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            background: linear-gradient(180deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.5) 100%);
            border-radius: 5px;
        }

        .hero_form input, .hero_form textarea, .hero_form button{
            padding: 10px;
            border: 1px solid #fff;
            border-radius: 5px;
            background-color: transparent;
        }

        input::placeholder, textarea::placeholder{
            color: #fff;
        }

        .hero_form button{
            background-color: #153448;
            color: #fff;
            cursor: pointer;
            border: none;
        }